name: Cargo Clippy

on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - 'master'

jobs:
  clippy:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: alibaba-cloud-linux-3-registry.cn-hangzhou.cr.aliyuncs.com/alinux3/alinux3:latest
    steps:
      - name: Update yum mirror
        run: |
          set -e
          set -x

          # replace the mirror
          sed -i -E 's|https?://mirrors.openanolis.cn/anolis/|https://mirrors.aliyun.com/anolis/|g' /etc/yum.repos.d/*.repo
          sed -i -E 's|https?://mirrors.cloud.aliyuncs.com/|https://mirrors.aliyun.com/|g' /etc/yum.repos.d/*.repo

          # install development tools
          yum install -y autoconf automake binutils bison flex gcc gcc-c++ gdb glibc-devel libtool make pkgconf pkgconf-m4 pkgconf-pkg-config rpm-build rpm-sign strace asciidoc byacc ctags diffstat elfutils-libelf-devel git intltool patchutils perl-Fedora-VSP perl-Sys-Syslog perl-generators pesign source-highlight systemtap valgrind valgrind-devel cmake expect rpmdevtools rpmlint perl clang

          # install rpmdevtools
          yum install -y git yum-utils

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.82.0

      - name: Install build dependencies
        run: yum-builddep -y --skip-unavailable ./cryptpilot.spec

      - name: Install Clippy
        run: rustup component add clippy

      - name: Cargo Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
